# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Zoran Bukorac\Desktop\Fakultet\2. godina\Nelinearno programiranje i evolutivni algoritmi\blackbox-pso\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
